/* Percentage width utility classes */
.wPct0{width:0%}
.wPct1{width:1%}
.wPct2{width:2%}
.wPct3{width:3%}
.wPct4{width:4%}
.wPct5{width:5%}
.wPct6{width:6%}
.wPct7{width:7%}
.wPct8{width:8%}
.wPct9{width:9%}
.wPct10{width:10%}
.wPct11{width:11%}
.wPct12{width:12%}
.wPct13{width:13%}
.wPct14{width:14%}
.wPct15{width:15%}
.wPct16{width:16%}
.wPct17{width:17%}
.wPct18{width:18%}
.wPct19{width:19%}
.wPct20{width:20%}
.wPct21{width:21%}
.wPct22{width:22%}
.wPct23{width:23%}
.wPct24{width:24%}
.wPct25{width:25%}
.wPct26{width:26%}
.wPct27{width:27%}
.wPct28{width:28%}
.wPct29{width:29%}
.wPct30{width:30%}
.wPct31{width:31%}
.wPct32{width:32%}
.wPct33{width:33%}
.wPct34{width:34%}
.wPct35{width:35%}
.wPct36{width:36%}
.wPct37{width:37%}
.wPct38{width:38%}
.wPct39{width:39%}
.wPct40{width:40%}
.wPct41{width:41%}
.wPct42{width:42%}
.wPct43{width:43%}
.wPct44{width:44%}
.wPct45{width:45%}
.wPct46{width:46%}
.wPct47{width:47%}
.wPct48{width:48%}
.wPct49{width:49%}
.wPct50{width:50%}
.wPct51{width:51%}
.wPct52{width:52%}
.wPct53{width:53%}
.wPct54{width:54%}
.wPct55{width:55%}
.wPct56{width:56%}
.wPct57{width:57%}
.wPct58{width:58%}
.wPct59{width:59%}
.wPct60{width:60%}
.wPct61{width:61%}
.wPct62{width:62%}
.wPct63{width:63%}
.wPct64{width:64%}
.wPct65{width:65%}
.wPct66{width:66%}
.wPct67{width:67%}
.wPct68{width:68%}
.wPct69{width:69%}
.wPct70{width:70%}
.wPct71{width:71%}
.wPct72{width:72%}
.wPct73{width:73%}
.wPct74{width:74%}
.wPct75{width:75%}
.wPct76{width:76%}
.wPct77{width:77%}
.wPct78{width:78%}
.wPct79{width:79%}
.wPct80{width:80%}
.wPct81{width:81%}
.wPct82{width:82%}
.wPct83{width:83%}
.wPct84{width:84%}
.wPct85{width:85%}
.wPct86{width:86%}
.wPct87{width:87%}
.wPct88{width:88%}
.wPct89{width:89%}
.wPct90{width:90%}
.wPct91{width:91%}
.wPct92{width:92%}
.wPct93{width:93%}
.wPct94{width:94%}
.wPct95{width:95%}
.wPct96{width:96%}
.wPct97{width:97%}
.wPct98{width:98%}
.wPct99{width:99%}
.wPct100{width:100%}

/* Percentage height utility classes */
.hPct0{height:0%}
.hPct1{height:1%}
.hPct2{height:2%}
.hPct3{height:3%}
.hPct4{height:4%}
.hPct5{height:5%}
.hPct6{height:6%}
.hPct7{height:7%}
.hPct8{height:8%}
.hPct9{height:9%}
.hPct10{height:10%}
.hPct11{height:11%}
.hPct12{height:12%}
.hPct13{height:13%}
.hPct14{height:14%}
.hPct15{height:15%}
.hPct16{height:16%}
.hPct17{height:17%}
.hPct18{height:18%}
.hPct19{height:19%}
.hPct20{height:20%}
.hPct21{height:21%}
.hPct22{height:22%}
.hPct23{height:23%}
.hPct24{height:24%}
.hPct25{height:25%}
.hPct26{height:26%}
.hPct27{height:27%}
.hPct28{height:28%}
.hPct29{height:29%}
.hPct30{height:30%}
.hPct31{height:31%}
.hPct32{height:32%}
.hPct33{height:33%}
.hPct34{height:34%}
.hPct35{height:35%}
.hPct36{height:36%}
.hPct37{height:37%}
.hPct38{height:38%}
.hPct39{height:39%}
.hPct40{height:40%}
.hPct41{height:41%}
.hPct42{height:42%}
.hPct43{height:43%}
.hPct44{height:44%}
.hPct45{height:45%}
.hPct46{height:46%}
.hPct47{height:47%}
.hPct48{height:48%}
.hPct49{height:49%}
.hPct50{height:50%}
.hPct51{height:51%}
.hPct52{height:52%}
.hPct53{height:53%}
.hPct54{height:54%}
.hPct55{height:55%}
.hPct56{height:56%}
.hPct57{height:57%}
.hPct58{height:58%}
.hPct59{height:59%}
.hPct60{height:60%}
.hPct61{height:61%}
.hPct62{height:62%}
.hPct63{height:63%}
.hPct64{height:64%}
.hPct65{height:65%}
.hPct66{height:66%}
.hPct67{height:67%}
.hPct68{height:68%}
.hPct69{height:69%}
.hPct70{height:70%}
.hPct71{height:71%}
.hPct72{height:72%}
.hPct73{height:73%}
.hPct74{height:74%}
.hPct75{height:75%}
.hPct76{height:76%}
.hPct77{height:77%}
.hPct78{height:78%}
.hPct79{height:79%}
.hPct80{height:80%}
.hPct81{height:81%}
.hPct82{height:82%}
.hPct83{height:83%}
.hPct84{height:84%}
.hPct85{height:85%}
.hPct86{height:86%}
.hPct87{height:87%}
.hPct88{height:88%}
.hPct89{height:89%}
.hPct90{height:90%}
.hPct91{height:91%}
.hPct92{height:92%}
.hPct93{height:93%}
.hPct94{height:94%}
.hPct95{height:95%}
.hPct96{height:96%}
.hPct97{height:97%}
.hPct98{height:98%}
.hPct99{height:99%}
.hPct100{height:100%}
